.top{
  color: navy;
}

.top :global(.ant-card-head) {
  border-bottom: 0px;
}

.top table {
  border-collapse: collapse;
}

.top :global(.ant-table-thead) {
  border-bottom: 1px solid rgb(128, 128, 128);
}


.top :global(.ant-table-thead) > tr > th {
  background: #f04134;
  font-weight: bold;
}



.top :global(.ant-table-tbody) >tr:nth-of-type(odd) {
background-color:#f5f5f5
}

