.premPeriod {
    margin-bottom: 10px;
}

.charts :global(.ant-card) {
  background-color: #eecb5f;
  color: #fff;
}

.charts :global(.ant-card-body) {
  padding: 10px;
}


.data {
  float: left;
}

.number {
  font-size: 17px;
  line-height: 1.8;
  font-weight: 600;
  padding-left: 5px;  
} 

.label {
  padding-left: 5px;
}

.progress {
  float: right;
}
